html,body{
    height:100%;
    width:100%;
}

#tituloTablaClienteBuscado{
    position:absolute;
    top: 130px;
    left: 650px;
}

#cajaClienteBuscado{
    position:relative;
    left: 2px;
    width: 1550px;
} 

#cajaBuscarCliente{
    position:absolute;
    left: 390px;
    width: 950px;
    top:200px;
}


/*-----------------------------------------------comienzo----------------------------------------------------------------------*/
/*Estilo para la vista de buscar cliente*/
#buscarCliente{
    position: absolute;
    left: 40%;
    top: 190px;
}

#buscar{
    position: absolute;
    left: 705px;
    top: 190px;
}

#cardBuscarCliente{
    width: 260px;
}

/*-------------------------------------------------fin------------------------------------------------------------------------*/



/*-----------------------------------------------comienzo----------------------------------------------------------------------*/
/*Vista de tabla de clientes*/

#clientesNoPotencializables{
    position: absolute;
    left: 640px;
    top: 250px;
    font-family: "Gelion-semibold", sans-serif;
    font-size: 30px;
    color: #1a2442;
    box-sizing: inherit;

}

#titulos-home{
    position: absolute;
    top: 130px;
    background-color: #000028 ;
    width: 100%;
    text-align: center;
    font-family: Gelion-semibold";
}

#tablaClientes{
    left: 290px;
    top: 240px;
    position: relative;
    width: 100% !important;
}

#caja{
    position:relative;
    left: 2px;
    width: 950px;
}

#tabla{
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 10px 5px;
    width: 1100px;
    border: 1px;
}

th{
    background-color: black;
    color: white;
    text-align: center;
}


/*-------------------------------------------------fin------------------------------------------------------------------------*/

#editar{
    position: relative;
    left: 130px;
}

#editarCliente{
    position: absolute;
    left: 630px;
}


/*-----------------------------------------------comienzo----------------------------------------------------------------------*/
/*Estilo de vista para agregar un cliente*/
#cajaformulario{
    position: absolute;
    left: 750px;
    top: 59px;
}

#formulario{
    right: 10%;
    position: relative;
    padding: 1em 1.5em;
    appearance: none;
    outline: none;
    line-height: normal;
    border: 1px solid ;
    border-radius: 0;
}

/*-------------------------------------------------fin------------------------------------------------------------------------*/





/*-----------------------------------------------comienzo----------------------------------------------------------------------*/
/*Estilo del inicio de sesión*/

#inicioSesion{
    width: 400px !important;
    border-radius: 2px;
}

#cuadroSesion{
    position: absolute;
    top: 190px!important;
    left: 680px;
}

/*-------------------------------------------------fin------------------------------------------------------------------------*/





/*-----------------------------------------------comienzo----------------------------------------------------------------------*/
/*Estilo del registro*/

#cuadroRegistro{
    position: absolute;
    top: 170px!important;
    left: 440px;
    width: 900px
}

/*-------------------------------------------------fin------------------------------------------------------------------------*/




/*-----------------------------------------------comienzo----------------------------------------------------------------------*/
/*Estilo de los íconos*/
.inner-addon {
    position: relative;
    color: black;
  }
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
.left-addon .fa {
    left: 0px;
  }
 
.left-addon input {
    padding-left: 30px;
}
/*-------------------------------------------------fin------------------------------------------------------------------------*/




/*-----------------------------------------------comienzo----------------------------------------------------------------------*/
/*Estilo para botones*/
.bg-primary {
    background-color: #000 !important;
}

#btnCerrarSesion{
    background-color: transparent;
    border:1px solid rgb(235, 231, 231);
}

/*-------------------------------------------------fin------------------------------------------------------------------------*/




/*-----------------------------------------------comienzo----------------------------------------------------------------------*/
/*Estilo del footer*/

#footer{
    background-color: black;
    position: absolute;
    top: 650px;
    width: 100%;
    text-align: center
}
   
.bg-circle{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 14px 4px;
    color: #ececec;
    text-align: center;
    border-radius: 50%;
}
   
.bg-circle-outline{
    width: 50px;
    height: 50px;
    color:smoke;
    padding: 8px 2px;
    border: 2px solid;
    border-color: smoke;
    border-radius: 50%;
}
   
.bg-circle a, a:hover, .media a:focus{
    text-decoration: none !important;
    outline: none;
    color: #ececec;
}

.bg-circle-outline a, a:hover, .media a:focus{
    text-decoration: none !important;
    outline: none;
    color: #ececec;
} 

#twitter{
    position: absolute;
    top: 23px;
    color: white;
}

#contacto{
    position: absolute;
    top: 23px;
    left: 10px;
    color: white;
}

#cookies{
    position: absolute;
    top: 100px;
    left: 25px;
    color: white; 
}

#facebook{
    position: absolute;
    top: 23px;
    color: white;
}

#instagram{
    position: absolute;
    top: 100px;
    color: white;  
}

 /*-------------------------------------------------fin------------------------------------------------------------------------*/
  
h2 {
    color: white;
  }
h5{
    color:white
}