html,body{
    height:100%;
    width:100%;
 
  }

#tablaClientes{
    left: 290px;
    top: 240px;
    position: relative;
    width: 100% !important;
}
#caja{
    position:relative;
    left: 2px;
    width: 950px;
}
#cajaClienteBuscado{
    position:relative;
    left: 2px;
    width: 950px;
    height: 4000px;
} 

#cajaBuscarCliente{
    position:relative;
    left: 2px;
    width: 950px;
}

#buscarCliente{
    position: absolute;
    left: 40%;
    top: 190px;
}

#buscar{
    position: absolute;
    left: 580px;
    top: 190px;
}

#cardBuscarCliente{
    width: 260px;
}

#clientesNoPotencializables{
    position: absolute;
    left: 640px;
    top: 250px;
    font-family: "Gelion-semibold", sans-serif;
    font-size: 30px;
    color: #1a2442;
    box-sizing: inherit;

}


th{
    background-color: black;
    color: white;
    text-align: center;

}

#editar{
    position: relative;
    left: 130px;
}

#editarCliente{
    position: absolute;
    left: 630px;
}

#tabla{
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 10px 5px;
    width: 1100px;
    border: 1px;
}

#formulario{
    right: 10%;
    position: relative;
    padding: 1em 1.5em;
  appearance: none;
  outline: none;
  line-height: normal;
  border: 1px solid ;
  border-radius: 0;
}


#cajaformulario{
    position: absolute;
    left: 750px;
    top: 59px;
}



#inicioSesion{
    width: 400px !important;
    border-radius: 2px;
}

#cuadroSesion{
    position: absolute;
    top: 190px!important;
    left: 680px;
}

#cuadroRegistro{
    position: absolute;
    top: 170px!important;
    left: 440px;
    width: 900px
}

#btnCerrarSesion{
    background-color: transparent;
    border:1px solid rgb(235, 231, 231);
}

#titulos-home{
    position: absolute;
    top: 130px;
    background-color: #F1F1F7;
    width: 100%;
    text-align: center;

}

.inner-addon {
    position: relative;
    color: aqua;
  }
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
.left-addon .fa {
    left: 0px;
  }
 
.left-addon input {
    padding-left: 30px;
}

.bg-dark{
    background-color: #1a2744!important;
}


#footer{
    background-color: black;
    position: absolute;
    top: 650px;
    width: 100%;
    text-align: center
}









































.bg-primary {
    background-color: #000 !important;
   }
   
   .bg-circle
   {
     display: inline-block;
     width: 60px;
     height: 60px;
     padding: 14px 4px;
     color: #ececec;
     text-align: center;
     border-radius: 50%;
   }
   
   .bg-circle-outline
   {
     width: 50px;
     height: 50px;
     color:smoke;
     padding: 8px 2px;
     border: 2px solid;
     border-color: smoke;
     border-radius: 50%;
   }
   
   
   .bg-circle a, a:hover, .media a:focus
   {
     text-decoration: none !important;
     outline: none;
     color: #ececec;
   }
   .bg-circle-outline a, a:hover, .media a:focus
   {
     text-decoration: none !important;
     outline: none;
     color: #ececec;
   }

   #footer{
       position: absolute;
       top: 589px;
   }

#twitter{
 position: absolute;
 top: 23px;
 color: white;
}
#contacto{
 position: absolute;
 top: 23px;
 left: 10px;
 color: white;
}
#cookies{
 position: absolute;
 top: 100px;
 left: 25px;
 color: white; 
}
#facebook{
 position: absolute;
 top: 23px;
 color: white;
}
#instagram{
position: absolute;
top: 100px;
color: white;  
}

   