<!-- Esta clase representa toda la parte de abajo de las vistas -->


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <div  id="footer" class="container-fluid bg-faded mt-5">
    <div class="container">
      <div class="row py-3">
        <!-- footer column 1 start -->
        <div class="col-md-4">
          <!-- row start -->
          <div class="row py-2">
            <div class="col-sm-3 hidden-md-down">
              <a class="bg-circle bg-info" href="https://twitter.com/Bco_Occidente">
                <i class="fa fa-2x fa-fw fa-twitter" aria-hidden="true "></i>
              </a>
            </div>
            <div class="col-sm-9" id="twitter">
              <h4>Twitter</h4>
            </div>
          </div>
          <!-- row end -->
        </div>
        <!-- footer column 1 end -->
        <!-- footer column 2 start -->
        <div class="col-md-4">
          <!-- row start -->
          <div class="row py-2">
            <div class="col-sm-3 hidden-md-down">
              <a class="bg-circle bg-info" href="https://www.bancodeoccidente.com.co/wps/portal/banco-de-occidente/bancodeoccidente/">
                <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
              </a>
            </div>
            <div class="col-sm-9" id="contacto">
              <h4>Contáctanos</h4>
            </div>
          </div>
          <!-- row end -->
          <!-- row start -->
          <div class="row py-2">
            <div class="col-sm-3 hidden-md-down">
              <a class="bg-circle bg-info" href="#">
                <i class="fa fa-2x fa-fw fa-laptop" aria-hidden="true "></i>
              </a>
            </div>
            <div class="col-sm-9" id="cookies">
              <h4>Política cookies</h4>
            </div>
          </div>
          <!-- row end -->
        </div>
        <!-- footer column 2 end -->
        <!-- footer column 3 start -->
        <div class="col-md-4">
          <!-- row starting  -->
          <div class="row py-2">
            <div class="col-sm-3 hidden-md-down">
              <a class="bg-circle bg-info" href="https://es-la.facebook.com/BcoOccidente/">
                <i class="fa fa-2x fa-fw fab fa-facebook-f" aria-hidden="true "></i>
              </a>
            </div>
            <div class="col-sm-9" id="facebook">
              <h4>Facebook</h4>
            </div>
          </div>
          <!-- row ended -->
          <!-- row starting  -->
          <div class="row py-2">
            <div class="col-sm-3 hidden-md-down">
              <a class="bg-circle bg-info" href="https://www.instagram.com/bco_occidente/?hl=es-la">
                <i class="fa fa-2x fa-fw fab fa-instagram" aria-hidden="true "></i>
              </a>
            </div>
            <div class="col-sm-9" id="instagram">
              <h4>Instagram</h4>
            </div>
          </div>
          <!-- row ended -->
        </div>
        <!-- footer column 3 end -->
      </div>
    </div>
  </div>

</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html> 